.heroBar {
  background-color: rgb(221, 99, 99);
  height: 100px;
  margin: 20px;
}

.gameArea {
  font-size: 30px;
  margin: 20px;
}

.buttons {
  background-color: #3321;
  height: 100px;
  display: flex;
  justify-content: space-around;
  margin: 20px;
  font-size: 30px;
}

.left {
  background-color: rgb(127, 86, 204);
  height: 100px;
  width: 180px;
  border-radius: 20px;
}

.right {
  background-color: rgb(127, 86, 204);
  height: 100px;
  width: 180px;
  border-radius: 20px;
}

.gameMain {
  background-color: rgb(92, 204, 110);
  height: 400px;
  margin: 20px;
  display: flex;
  justify-content: stretch;
}

.background {
  background-image: url("https://pbs.twimg.com/media/EFkAOvAWkAIq-Cn.jpg");
  width: 300px;
  height: 200px;
  background-repeat: no-repeat;
  background-size: auto;
  margin: 20px;
}

.heroBar {
  font-size: 20px;
}
